
*{
	box-sizing: border-box;
}

body{
	min-width: 320px;
	margin: 0 auto;
}

header div{
	margin: 8px;
}

header{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.header-r, .header-l{
	display: flex;
	flex-direction: row;
}

.menu img{
	margin-top: -12px;
}

.bag a, .login a, .signup a{
	text-decoration: none;
	font-size: 13px;
	font-family: 'PT Sans';
	color: rgb(51, 55, 67);
	font-weight: bold;
}

.bag a{
	/*line-height: 1.923;*/
	text-align: center;
}

.login a{
	/*line-height: 1.538;*/
	text-align: left;
}

.signup a{
	color: rgba(51, 55, 67, 0.702);
	text-align: left;
}

.line{
	color: #000000;
}

.number{
	color: rgb(255, 255, 255);
	font-family: "Georgia";
	font-size: 11px;
	padding: 0px 5px 0px 5px;
	background-color: #333743;
	border-radius: 50%;
	height: 16px;
	margin-top: 11px; 

}

.grid-container {
	display: grid;
	grid-template-columns: 50% 50%;
	grid-gap: 1px;
	background-color: black;
	padding: 1px;
	grid-template-rows: 100% 100% 100% 100%;
	justify-content: center;
	grid-template-areas:
		'title title'
		'bigbag bigbag'
		'bag1 bag2'
		'texts texts';
	}

.grid-container > div {
	background-color: rgba(255, 255, 255);
	text-align: center;
	padding: 10px 10px;
	font-size: 20px;
}

.item1 { grid-area: title; }
.item2 { grid-area: bigbag; }
.item3 { grid-area: bag1; }
.item4 { grid-area: bag2; }
.item5 { grid-area: texts; }


.item1 {
	padding: 10px;
}
.item1 a{
	text-decoration: none;
	text-transform: uppercase;
	font-size: 24px;
	font-family: 'PT Sans';
	color: rgb(48, 48, 50);
	font-weight: bold;
	text-align: center;
}

.adress a{
	text-decoration: none;
	text-transform: none;
	font-size: 12px;
  	font-family: "Georgia";
  	color: rgb(159, 206, 222);
}

.man-icon img{
	margin-bottom: -2px;
}

.item2 img {
width: 100%;
}

.item3 img, .item4 img {
width: 40%;
}
	
.item3 img{
 	float: right;
 }

.item4 img{
 	float: left;
}

