
*{
	box-sizing: border-box;
}

body{
	min-width: 320px;
	margin: 0 auto;
}

header div{
	margin: 8px;
}

header{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.header-r, .header-l{
	display: flex;
	flex-direction: row;
}

.menu img{
	margin-top: -12px;
}

.bag a, .login a, .signup a{
	text-decoration: none;
	font-size: 13px;
	font-family: 'PT Sans';
	color: rgb(51, 55, 67);
	font-weight: bold;
}

.bag a{
	/*line-height: 1.923;*/
	text-align: center;
}

.login a{
	/*line-height: 1.538;*/
	text-align: left;
}

.signup a{
	color: rgba(51, 55, 67, 0.702);
	text-align: left;
}

.line{
	color: #000000;
}

.number{
	color: rgb(255, 255, 255);
	font-family: "Georgia";
	font-size: 11px;
	padding: 0px 5px 0px 5px;
	background-color: #333743;
	border-radius: 50%;
	height: 16px;
	margin-top: 11px; 

}

.grid-container {
	display: grid;
	grid-template-columns: 50% 50%;
	grid-gap: 4px;
	background-color: #2196F3;
	padding: 4px;
	grid-template-rows: 100% 100% 200px;
	justify-content: center;
	grid-template-areas:
		'bigbag bigbag'
		'bag1 bag2'
		'texts texts';
	}

.grid-container > div {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  padding: 10px 10px;
  font-size: 20px;
}

.item1 { grid-area: bigbag; }
.item2 { grid-area: bag1; }
.item3 { grid-area: bag2; }
.item4 { grid-area: texts; }


.item1 img {
width: 100%;
}

.item2 img, .item3 img {
width: 40%;
}
	
.item2 img{
 	float: right;
 }

.item3 img{
 	float: left;
 }